<div class="box-text">
  <div class="container">
    <div class="box-text__wrap">
      <div class="box-text__body">
        <div class="box-text__content">
          <div class="slice-50">
            <div class="box-text__item">
              <h2>Book A Discovery Meeting</h2>
              <p>Not sure what you need? Grab 45 minutes with us and we will work with you to
                understand your needs, and propose recommendations for your Continuous Improvement journey.</p>
              <p>Initial consultation calls may also be conducted via live online
                teleconferencing to include additional stakeholders. Ask your Lean Six Sigma Consultant how.</p>
              <p><a
                  href="https://outlook.office365.com/owa/calendar/InspirativeTrainingPtyLtd@vative.com.au/bookings/s/QNjH-7p9OUaOQrJOFvqxdw2"
                  class="btn btn--bg btn--bg-blue">Select Your Preferred Time and Consultant</a></p>
              <h2>Attend a Complimentary Event</h2>
              <p>Want more information? Attend one of our complimentary bi-monthly events and
                learn about the key components for program success, Leadership Commitment and Organisational Culture.
              </p>
              <p><a href="/events" class="btn btn--bg btn--bg-blue">See all upcoming Workshops</a></p>
            </div>
            <div class="get-in-touch box-text__item">
              <h2>Get in touch</h2>
              <div>
                <form action="" method="post" class="" novalidate="novalidate">
                  <div class="quick-contact__form--group form-list">
                    <div class="form-item">
                      <span class="fullname">
                        <input type="text" name="fullname" value="" size="40" class="form-text" aria-required="true" aria-invalid="false" placeholder="Full name*">
                      </span>
                    </div>
                    <div class="form-item">
                      <span class="phone">
                        <input type="number" name="phone" value="" class="form-number" aria-required="true" aria-invalid="false" placeholder="Phone*">
                      </span>
                    </div>
                    <div class="form-item">
                      <span class="email">
                        <input type="email" name="email" value="" size="40" class="form-email" aria-required="true" aria-invalid="false" placeholder="Email*">
                      </span>
                    </div>
                    <div class="form-item">
                      <span class="postcode">
                        <input type="number" name="postcode" value="" class="form-number" aria-required="true" aria-invalid="false" placeholder="Postcode*">
                      </span>
                    </div>
                    <div class="form-item">
                      <span class="organisation">
                        <select name="organisation" class="form-select" aria-required="true" aria-invalid="false">
                          <option value="">Organisation*</option>
                          <option value="Employer business representative">Employer business representative</option>
                          <option value="Job seeker">Job seeker</option>
                          <option value="Potential Apprentice/Trainee">Potential Apprentice/Trainee</option>
                          <option value="Potential Student">Potential Student</option>
                        </select>
                      </span>
                    </div>
                  </div>
                  <div class="quick-contact__form--group form-list form-list-last">
                    <div class="form-item form-item-message">
                      <span class="message">
                        <textarea name="message" cols="40" rows="10" class="form-textarea" aria-invalid="false" placeholder="How can we help?"></textarea>
                      </span>
                    </div>
                    <div class="form-item find-out">
                      <span class="find">
                        <select name="find" class="form-select" aria-required="true" aria-invalid="false">
                          <option value="How did you find out about us?">How did you find out about us?</option>
                          <option value="Google/Other Search Engines">Google/Other Search Engines</option>
                          <option value="Facebook">Facebook</option>
                          <option value="LinkedIn">LinkedIn</option>
                          <option value="Other websites">Other websites</option>
                          <option value="Newspaper/Magazine">Newspaper/Magazine</option>
                          <option value="Radio/TV">Radio/TV</option>
                          <option value="Careers Expo/Trade Fair">Careers Expo/Trade Fair</option>
                          <option value="School">School</option>
                          <option value="Work colleague">Work colleague</option>
                          <option value="Friend/Family">Friend/Family</option>
                          <option value="Other">Other</option>
                        </select>
                      </span>
                    </div>
                    <div class="form-item form-item-captcha">
                      <span class="captcha">
                        <label>
                          <input type="text" name="captcha" size="40" class="form-text" autocomplete="off" aria-required="true" aria-invalid="false" placeholder="What is the first letter of Vative?*">
                        </label>
                      </span>
                    </div>
                  </div>
                  <div class="form-actions form-wrapper">
                    <input type="submit" value="Submit" class="btn--small">
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>